  <div class="nav-like">
    <h1>Shop </h1>
    <ul class="home-categories">
      <li>
        <%= link_to "All", root_path(category_id: "all"), class: "home-category #{"active" unless params[:category_id].present? && params[:category_id] != "all"}" %>
      </li>
      <% @categories.each do |category| %>
        <li>
          <%= link_to category.name, root_path(category_id: category.id), class: "home-category #{"active" if @selected_category&.id == category.id}" %>
        </li>
      <% end %>
    </ul>
  </div>
